.about {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(112, 215, 156);
  font-family: Arial, sans-serif;
  padding-top: 100px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.about h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(99, 119, 215);
}

.about h3 {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 30px;
  color: rgb(221, 114, 221);
}

.about p, .about ul {
  text-align: justify;
  display: block;
  width: 65%;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 20px;
  background: rgba(202, 114, 63, 0.87); 
  color: #1130a1; 
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px;
}

.about ul {
  list-style-type: none;
  padding-left: 0;
  color: rgb(139, 211, 119);
}

.about ul li {
  margin-bottom: 10px;
  color: rgb(32, 15, 86);
}
